# OS
.DS_Store

# environment variable files
.env*
!.env.test
!.env.example

# Dependencies
node_modules/

# Build
build/
dist/

# Tests
coverage/
.test/
*.lcov

# Cache & Persistence
.storage/
*.tsbuildinfo
.turbo/
.tanstack/

# External knowledge workspace
.knowledge/
